[Match]
Name=enp0s8

[Network]
Gateway=fe80::6b:44ff:fed8:6587
DNS=fe80::6b:44ff:fed8:6587

[Address]
Address=fd12:2345:6789:3::2/64

[Route]
Destination=fe80::6b:44ff:fed8:6587
Scope=global

